@font-face {
  font-family: "Barlow-Reguler";
  src: url("../fonts/Barlow-Regular.ttf") format("truetupe");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Barlow-Reguler";
  src: url("../fonts/Barlow-Regular.ttf") format("truetupe");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Fraunces_9pt-Black.ttf";
  src: url("../fonts/Fraunces_9pt-Black.ttf") format("truetupe");
  font-weight: 900;
  font-style: normal;
}
