.choos {
  width: 1280px;
  height: 474px;
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  background-color: black;
  margin-top: 224px;
}
.choose {
  width: 540px;
  margin: 88px 135px 176px 85px;
  position: relative;
}
.choose_title {
  font-family: "Fraunces 9pt";
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;

  color: #fefcf7;
}
.choose_desc {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;

  color: #fefcf7;

  mix-blend-mode: normal;
  opacity: 0.8;
  margin-top: 32px;
}
.choose__img {
  width: 445px;
  height: 475px;
  position: absolute;
  top: 1490px;
  right: 960px;
}
