.our__img {
  width: 445px;
  height: 520px;
  margin-right: 126px;
}
.our__title {
  font-family: "Fraunces 9pt";
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
  color: #333d4b;
}
.our__desc {
  width: 540px;
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #333d4b;

  mix-blend-mode: normal;
  opacity: 0.8;
  margin-top: 32px;
}
