.footer {
  width: 1280px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: black;
  padding: 47px 85px;
  margin-top: 200px;
  margin-bottom: 135px;
}

.footer_us {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;

  letter-spacing: 0.923077px;
  text-transform: uppercase;

  color: #fefcf7;
}
.footer__imgs {
  width: 120px;
  gap: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}